@model Food

<div class="border border-dark">
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="mini">
            <img src="@Model.ImageUrl" alt="" height="200" width="250">
            <div class="caption">
                <h3 class="pull-right">@Model.Price.ToString("c")</h3>
                <h3>
                    <a style="color:darkcyan" asp-controller="Food" asp-action="Details" asp-route-id="@Model.FoodId">@Model.Name</a>
                </h3>
                <p style="color:seagreen; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">@Model.ShortDescription</p>
            </div>
            <div class="addToCart">
                <p class="button">
                    <a class="btn btn-primary" style="background-color:#a8a0a0;"
                       asp-controller="ShoppingCart"
                       asp-action="AddToShoppingCart"
                       asp-route-foodId="@Model.FoodId">Add to cart</a>
                </p>
            </div>
        </div>
    </div>
</div>