
@model Food

<h2 style="text-align:center;">@Model.Name</h2>

<div class="mini">
    <div class="text-center">
        <p class="lead">
            <img alt="@Model.Name" src="@Model.ImageUrl" style="height:300px; width:600px;" class="img-fluid">
        </p>
    </div>
    <div class="caption-full">
        <h3 class="pull-right">@Model.Price</h3>
        <h3>
            <a href="#" style="color:darkred;">@Model.Name</a>
        </h3>
        <h4 style="color:seagreen; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">@Model.ShortDescription</h4>
        <p style="text-align:center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">@Model.LongDescription</p>
        <div class="addToCart">
            <p class="button">
                <a class="btn btn-primary" style="background-color:#a8a0a0;" asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
                   asp-route-foodId="@Model.FoodId">Add to cart</a>
            </p>
        </div>
    </div>
</div>